.about {
  margin-left: 30vh;
  margin-top: 30vh;
  display: flex;
  flex-direction: row;
}
.details {
  margin: 2vh;
  display: grid;
  font-family: "Source Code Pro", monospace;
  font-size: 2vh;
}
.audio:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@media (min-width< 768px) {
  visibility: hidden;
}
