.display {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}
.name {
  margin-left: 2vh;
  font-family: "Source Code Pro", monospace;
  font-size: 2em;
  display: flex;
  justify-content: center;
}
